* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
header h1 {
    padding-left: 2rem;
    font-weight: 800;
}
#red-header {
    color: maroon;
}
#green-header {
    color: rgb(55, 176, 55);
}
header ul {
    display: flex;
    justify-content: space-evenly;
}
.headerlinks {
    margin: 1rem;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
#maincontent {
    background-color: rgb(221, 221, 221);
    display: flex;
    align-items: center;
    padding: 2rem
}
#maincontent h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 3.5rem;
}
img {
    width: 200px;
    height: 300px;
    margin: .25rem;
}
#leftcontent {
    margin: 2rem;
}
#lorem {
    padding-top: 1rem;
    font-weight: lighter;
}
button {
    text-decoration: none;
    border: none;
    background-color: rgb(221, 221, 221);
    padding-top: 1rem;
    font-weight: 600;
}
#rightcontent {
    display: flex;
}
.image-container {
    position: relative;
}
.overlay-text {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    text-align: end;
}
.description {
    background-color: white;
    padding: .5rem;
    font-weight: 700;
}
.meal {
    background-color: rgb(46, 189, 46);
    padding: .5rem;
    font-weight: 700;
}