* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
header h1 {
    padding-left: 2rem;
}
header ul {
    display: flex;
    justify-content: space-evenly;
}
.headerlinks {
    margin: 1rem;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
#maincontent {
    background-color: rgb(221, 221, 221);
    display: flex;
}
img {
    width: 250px;
    height: 400px;
}